header {
  font-family: "Quantico", sans-serif;
  font-size: 30px;
  padding: 0 0 80px 0;
}

body {
  background-color: #001f3f;
  line-height: 30px;
}

img {
  margin: 5px 10px 10px 5px;
}

.about {
  margin-bottom: 15px;
}


.profile {
  max-width: 200px;
  max-height:auto;
}
.content-card {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  padding: 30px;
}

.content-card-header {
  background-color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
}

.card-link {
  color: white;
  font-weight: bold;
}
